.DS_Store
__pycache__/
*.py[cod]

venv/
.venv/

web_app/uploads/*
!web_app/uploads/.gitkeep
web_app/outputs/*
!web_app/outputs/.gitkeep

input_videos/
output_videos/

*.mp4
*.mov
*.avi
*.mkv

*.xlsx
*.docx

.vercel/

node_modules/
release/
dist/
build/
npm-debug.log*
build-assets/icon.iconset/
